a.gumroad-button {
  background-color: white !important;
  background-image: url("https://gumroad.com/button/button_bar.jpg") !important;
  background-repeat: repeat-x !important;
  border-radius: 4px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px !important;
  color: #999 !important;
  display: inline-block !important;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 50px !important;
  padding: 0 15px !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

.gumroad-overlay-container, .gumroad-iframe {
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: none;
}

.gumroad-iframe {
  width: 80%;
  height: 80%;
  max-width: 1198px;
  max-height: 1455px;
  border: none;
  border-radius: 5px;
}

.gumroad-iframe.visible {
  display: flex;
}

.gumroad-iframe.hide {
  display: none;
}
